* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --clr-red: #b56357;
  --clr-green-mint: #B4DBC0;
  --clr-slate: #EAE3EA;
  --clr-sea-foam: #A7B3A5;

  --box-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --box-shadow-below: 0 4px 2px -2px  rgb(0 0 0 / 0.1);
}

body {
  background-color: var(--clr-green-mint);
}


.container {
  margin: 10px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  margin-top: 40px;
  border: solid black 2px;
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.even {
  height: 70px;
  width: 100%;
  background-color: rgb(247, 57, 57);
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.odd { 
  height: 70px;
  width: 100%;
  background-color: rgb(109, 109, 250);
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dice-container {
  display: flex;
  gap: 10px;
}

img {
  width: 75px;
  height: 75px;
}






/* CSS */
.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}





